In [4]:
#log20030401
import pandas as pd

combined_df = pd.read_csv("2003/2003.csv") #  pass your 12 month combined csv here
# group by cik and date and get count of ciks for a date   
temp_df=combined_df.groupby(['cik','date'])['cik'].count()
temp_df.head()

cik   date
20.0  2003-04-01     5
      2003-05-01    13
      2003-06-01     1
      2003-07-01     1
      2003-08-01     9
Name: cik, dtype: int64

In [5]:
# convert group by result into a frame

grouped_frame = pd.DataFrame(temp_df.reset_index(name = "hit_count"))

grouped_frame

                 cik        date  hit_count
0       2.000000e+01  2003-04-01          5
1       2.000000e+01  2003-05-01         13
2       2.000000e+01  2003-06-01          1
3       2.000000e+01  2003-07-01          1
4       2.000000e+01  2003-08-01          9
5       2.000000e+01  2003-10-01          8
6       2.000000e+01  2003-11-01          1
7       2.000000e+01  2003-12-01          1
8       1.750000e+03  2003-03-01          8
9       1.750000e+03  2003-04-01         23
10      1.750000e+03  2003-05-01         73
11      1.750000e+03  2003-06-01          1
12      1.750000e+03  2003-07-01          3
13      1.750000e+03  2003-08-01         18
14      1.750000e+03  2003-09-01          8
15      1.750000e+03  2003-10-01         11
16      1.750000e+03  2003-11-01          4
17      1.750000e+03  2003-12-01         14
18      1.800000e+03  2003-03-01         11
19      1.800000e+03  2003-04-01         85
20      1.800000e+03  2003-05-01         42
21      1.800000e+03  2003-06-01         47
22      1.800000e+03  2003-07-01        238
23      1.800000e+03  2003-08-01         64
24      1.800000e+03  2003-09-01         27
25      1.800000e+03  2003-10-01         86
26      1.800000e+03  2003-11-01          3
27      1.800000e+03  2003-12-01         47
28      1.853000e+03  2003-05-01          4
29      1.853000e+03  2003-07-01          1
...              ...         ...        ...
207059  1.271675e+06  2003-12-01          5
207060  1.271676e+06  2003-12-01          6
207061  1.271677e+06  2003-12-01          5
207062  1.271678e+06  2003-12-01          3
207063  1.271679e+06  2003-12-01          1
207064  1.271680e+06  2003-12-01          5
207065  1.271682e+06  2003-12-01          2
207066  1.271683e+06  2003-12-01          3
207067  1.271708e+06  2003-12-01          2
207068  1.271709e+06  2003-12-01          3
207069  1.271711e+06  2003-12-01          3
207070  1.271712e+06  2003-12-01          6
207071  1.271714e+06  2003-12-01          9
207072  1.271715e+06  2003-12-01          2
207073  1.271716e+06  2003-12-01          3
207074  1.271717e+06  2003-12-01          1
207075  1.271718e+06  2003-12-01          2
207076  1.271719e+06  2003-12-01          3
207077  1.271720e+06  2003-12-01          5
207078  1.271721e+06  2003-12-01          4
207079  1.271722e+06  2003-12-01          4
207080  1.271755e+06  2003-12-01          4
207081  1.271782e+06  2003-12-01          3
207082  1.271783e+06  2003-12-01          4
207083  1.271792e+06  2003-12-01          4
207084  1.271793e+06  2003-12-01          1
207085  1.271794e+06  2003-12-01          1
207086  1.230072e+07  2003-07-01          1
207087  1.000000e+10  2003-04-01          1
207088  1.054181e+24  2003-05-01          1

[207089 rows x 3 columns]

In [6]:
## Monitor change in hit count

def get_percent_change(curr, prev):
        change_in_perc = ((curr - prev)/prev ) * 100
        return change_in_perc

count = 0
analysis_df = pd.DataFrame()
frame_count = 0
for row in grouped_frame['cik']:
    current_cik = grouped_frame['cik'][count]
    current_hit_count = grouped_frame['hit_count'][count]
    current_date = grouped_frame['date'][count]
    if(count >= 1):
        if(current_cik == grouped_frame['cik'][count-1]):
            change_in_count = current_hit_count - grouped_frame['hit_count'][count-1] 
            change_in_perc = get_percent_change(current_hit_count,grouped_frame['hit_count'][count-1])
            
            if(change_in_perc >= 1000 ): ## decide on threshold
                analysis_df.loc[frame_count, 'cik'] = current_cik
                analysis_df.loc[frame_count, 'date'] = current_date
                analysis_df.loc[frame_count, 'change in %'] = change_in_perc
                frame_count += 1
                #print(current_cik ," changed by",change_in_perc," % on ",current_date)
                
    count +=1
    
analysis_df

            cik        date  change in perc
0        1800.0  2003-12-01     1466.666667
1        2034.0  2003-12-01     2200.000000
2        2135.0  2003-07-01     1200.000000
3        2178.0  2003-04-01     1600.000000
4        2488.0  2003-04-01     1266.666667
5        2589.0  2003-07-01     1400.000000
6        2852.0  2003-10-01     1400.000000
7        2969.0  2003-04-01     2050.000000
8        2969.0  2003-10-01     1566.666667
9        3000.0  2003-04-01     1581.818182
10       3000.0  2003-07-01     4180.000000
11       3000.0  2003-12-01     2400.000000
12       3133.0  2003-12-01     1600.000000
13       3197.0  2003-08-01     2900.000000
14       3327.0  2003-04-01     3600.000000
15       3327.0  2003-07-01     5350.000000
16       3370.0  2003-04-01     2900.000000
17       3370.0  2003-12-01     2900.000000
18       3721.0  2003-07-01     1350.000000
19       3906.0  2003-04-01     1700.000000
20       3959.0  2003-04-01     1400.000000
21       4127.0  2003-05-01     1020.000000
22       4164.0  2003-07-01     1833.333333
23       4281.0  2003-12-01    11800.000000
24       4285.0  2003-04-01     1733.333333
25       4285.0  2003-12-01     3600.000000
26       4427.0  2003-06-01     1500.000000
27       4457.0  2003-07-01     1221.428571
28       4611.0  2003-04-01     2600.000000
29       4611.0  2003-07-01     1400.000000
...         ...         ...             ...
5177  1228361.0  2003-08-01     1100.000000
5178  1228874.0  2003-07-01     1000.000000
5179  1230720.0  2003-07-01   158750.000000
5180  1231859.0  2003-08-01     2300.000000
5181  1231868.0  2003-12-01     1171.428571
5182  1232229.0  2003-10-01     2100.000000
5183  1232241.0  2003-08-01     1066.666667
5184  1232241.0  2003-10-01     5225.000000
5185  1233298.0  2003-12-01     1300.000000
5186  1233426.0  2003-08-01     1075.000000
5187  1233426.0  2003-10-01     1000.000000
5188  1234045.0  2003-09-01     1100.000000
5189  1235162.0  2003-10-01     2200.000000
5190  1235511.0  2003-11-01     1600.000000
5191  1236038.0  2003-10-01     1090.000000
5192  1236475.0  2003-10-01     1000.000000
5193  1236483.0  2003-10-01     1000.000000
5194  1236973.0  2003-08-01     1000.000000
5195  1238094.0  2003-12-01     1400.000000
5196  1242652.0  2003-09-01     2500.000000
5197  1244943.0  2003-09-01     1600.000000
5198  1248124.0  2003-10-01     1400.000000
5199  1249008.0  2003-12-01     1300.000000
5200  1252849.0  2003-12-01     2650.000000
5201  1253327.0  2003-10-01     3200.000000
5202  1255821.0  2003-10-01     1350.000000
5203  1260968.0  2003-12-01     1600.000000
5204  1261068.0  2003-12-01     1500.000000
5205  1261654.0  2003-12-01     8500.000000
5206  1261686.0  2003-12-01     1300.000000

[5207 rows x 3 columns]

In [ ]:
 
# Load the data into a DataFrame
data = pd.read_csv('2003/log20030401.csv') # pass your single month stuff here
#grouping by IP
byIp = data.groupby('ip')
byIp

In [ ]:
#grouping by IP
byIp = data.groupby('ip')
byIp

In [ ]:
byCIK = data.groupby('cik')
byCIK['size'].max()

In [ ]:
#getting requests with  status code 404
byIp404=data[data['code']==404]
byIp404
#Anamoly-request with 404 has a download size associated.

In [ ]:
byIp404=data[data['code']==404].groupby('ip')
byIp404['size'].mean()

In [ ]:
#1. Simple describe function on data
summary = data.describe()
summary
#Analysis: total number of requests on this day-  261289
#Average request per day :215
#Max file download size:5.259544e+07
#Avergae File donwload size:	1.703470e+05

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

from numpy import genfromtxt
from scipy.stats import multivariate_normal
from sklearn.metrics import f1_score

In [ ]:
def read_dataset(filePath,delimiter=','):
    return pandas.read_csv(filePath)

def feature_normalize(dataset):
    mu = np.mean(dataset,axis=0)
    sigma = np.std(dataset,axis=0)
    return (dataset - mu)/sigma

def estimateGaussian(dataset):
    mu = np.mean(dataset, axis=0)
    sigma = np.cov(dataset.T)
    return mu, sigma
    
def multivariateGaussian(dataset,mu,sigma):
    p = multivariate_normal(mean=mu, cov=sigma)
    return p.pdf(dataset)

def selectThresholdByCV(probs,gt):
    best_epsilon = 0
    best_f1 = 0
    f = 0
    stepsize = (max(probs) - min(probs)) / 1000;
    epsilons = np.arange(min(probs),max(probs),stepsize)
    for epsilon in np.nditer(epsilons):
        predictions = (probs < epsilon)
        f = f1_score(gt, predictions, average = "binary")
        if f > best_f1:
            best_f1 = f
            best_epsilon = epsilon
    return best_f1, best_epsilon

In [ ]:
tr_data = read_dataset('log20030401.csv') 
tr_data.head()

In [ ]:
n_training_samples = tr_data['size'].shape[0]
n_training_samples
n_dim = tr_data['code'].shape[1]
n_dim

In [ ]:

plt.figure()
plt.xlabel("Latency (ms)")
plt.ylabel("Throughput (mb/s)")
plt.plot(tr_data[:,0],tr_data[:,1],"bx")
plt.show()

In [ ]:
dataCIK = pandas.read_csv('CIK-mapping.csv')
 
dataCIK.head(n=10)
dataCIK.dtypes
dataCIK['CIK']
dataCIK['CIK'].astype(np.float64)

In [ ]:
mergedDf=pd.merge(dataCIK, data, left_on='CIK', right_on='cik')

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
byIp=mergedDf.groupby('ip')
byIp['company'].describe()

In [ ]:
mergedDf.groupby('company').describe()

In [ ]:
rows = np.random.choice(mergedDf.index.values, 10)
sampled_df = mergedDf.ix[rows]
sampled_df

In [50]:
sampled_df.groupby('company').describe()

                                                                CIK  \
company
ALCAN INC                                          count        1.0
                                                   mean      4285.0
                                                   std          NaN
                                                   min       4285.0
                                                   25%       4285.0
                                                   50%       4285.0
                                                   75%       4285.0
                                                   max       4285.0
COLLABRX, INC.                                     count        1.0
                                                   mean    931059.0
                                                   std          NaN
                                                   min     931059.0
                                                   25%     931059.0
                                                   50%     931059.0
                                                   75%     931059.0
                                                   max     931059.0
CULLEN FROST BANKERS INC                           count        1.0
                                                   mean     39263.0
                                                   std          NaN
                                                   min      39263.0
                                                   25%      39263.0
                                                   50%      39263.0
                                                   75%      39263.0
                                                   max      39263.0
LAND O LAKES FARMLAND FEED LLC                     count        1.0
                                                   mean   1174731.0
                                                   std          NaN
                                                   min    1174731.0
                                                   25%    1174731.0
                                                   50%    1174731.0
...                                                             ...
ORTHODONTIC CENTERS OF AMERICA INC /DE/            std          NaN
                                                   min     931702.0
                                                   25%     931702.0
                                                   50%     931702.0
                                                   75%     931702.0
                                                   max     931702.0
ROYCE & ASSOCIATES INC                         ... count        1.0
                                                   mean    734269.0
                                                   std          NaN
                                                   min     734269.0
                                                   25%     734269.0
                                                   50%     734269.0
                                                   75%     734269.0
                                                   max     734269.0
SCHULER HOLDINGS INC                               count        1.0
                                                   mean   1126899.0
                                                   std          NaN
                                                   min    1126899.0
                                                   25%    1126899.0
                                                   50%    1126899.0
                                                   75%    1126899.0
                                                   max    1126899.0
UBS SERIES TRUST                                   count        1.0
                                                   mean    806591.0
                                                   std          NaN
                                                   min     806591.0
                                                   25%     806591.0
                                                   50%     806591.0
                                                   75%     806591.0
                                                   max     806591.0

                                                          Unnamed: 0  \
company
ALCAN INC                                          count         1.0
                                                   mean      19426.0
                                                   std           NaN
                                                   min       19426.0
                                                   25%       19426.0
                                                   50%       19426.0
                                                   75%       19426.0
                                                   max       19426.0
COLLABRX, INC.                                     count         1.0
                                                   mean     125918.0
                                                   std           NaN
                                                   min      125918.0
                                                   25%      125918.0
                                                   50%      125918.0
                                                   75%      125918.0
                                                   max      125918.0
CULLEN FROST BANKERS INC                           count         1.0
                                                   mean     144010.0
                                                   std           NaN
                                                   min      144010.0
                                                   25%      144010.0
                                                   50%      144010.0
                                                   75%      144010.0
                                                   max      144010.0
LAND O LAKES FARMLAND FEED LLC                     count         1.0
                                                   mean     335854.0
                                                   std           NaN
                                                   min      335854.0
                                                   25%      335854.0
                                                   50%      335854.0
...                                                              ...
ORTHODONTIC CENTERS OF AMERICA INC /DE/            std           NaN
                                                   min      438190.0
                                                   25%      438190.0
                                                   50%      438190.0
                                                   75%      438190.0
                                                   max      438190.0
ROYCE & ASSOCIATES INC                         ... count         1.0
                                                   mean     504340.0
                                                   std           NaN
                                                   min      504340.0
                                                   25%      504340.0
                                                   50%      504340.0
                                                   75%      504340.0
                                                   max      504340.0
SCHULER HOLDINGS INC                               count         1.0
                                                   mean     518240.0
                                                   std           NaN
                                                   min      518240.0
                                                   25%      518240.0
                                                   50%      518240.0
                                                   75%      518240.0
                                                   max      518240.0
UBS SERIES TRUST                                   count         1.0
                                                   mean     597569.0
                                                   std           NaN
                                                   min      597569.0
                                                   25%      597569.0
                                                   50%      597569.0
                                                   75%      597569.0
                                                   max      597569.0

                                                                cik   code  \
company
ALCAN INC                                          count        1.0    1.0
                                                   mean      4285.0  200.0
                                                   std          NaN    NaN
                                                   min       4285.0  200.0
                                                   25%       4285.0  200.0
                                                   50%       4285.0  200.0
                                                   75%       4285.0  200.0
                                                   max       4285.0  200.0
COLLABRX, INC.                                     count        1.0    1.0
                                                   mean    931059.0  304.0
                                                   std          NaN    NaN
                                                   min     931059.0  304.0
                                                   25%     931059.0  304.0
                                                   50%     931059.0  304.0
                                                   75%     931059.0  304.0
                                                   max     931059.0  304.0
CULLEN FROST BANKERS INC                           count        1.0    1.0
                                                   mean     39263.0  200.0
                                                   std          NaN    NaN
                                                   min      39263.0  200.0
                                                   25%      39263.0  200.0
                                                   50%      39263.0  200.0
                                                   75%      39263.0  200.0
                                                   max      39263.0  200.0
LAND O LAKES FARMLAND FEED LLC                     count        1.0    1.0
                                                   mean   1174731.0  200.0
                                                   std          NaN    NaN
                                                   min    1174731.0  200.0
                                                   25%    1174731.0  200.0
                                                   50%    1174731.0  200.0
...                                                             ...    ...
ORTHODONTIC CENTERS OF AMERICA INC /DE/            std          NaN    NaN
                                                   min     931702.0  304.0
                                                   25%     931702.0  304.0
                                                   50%     931702.0  304.0
                                                   75%     931702.0  304.0
                                                   max     931702.0  304.0
ROYCE & ASSOCIATES INC                         ... count        1.0    1.0
                                                   mean    734269.0  200.0
                                                   std          NaN    NaN
                                                   min     734269.0  200.0
                                                   25%     734269.0  200.0
                                                   50%     734269.0  200.0
                                                   75%     734269.0  200.0
                                                   max     734269.0  200.0
SCHULER HOLDINGS INC                               count        1.0    1.0
                                                   mean   1126899.0  200.0
                                                   std          NaN    NaN
                                                   min    1126899.0  200.0
                                                   25%    1126899.0  200.0
                                                   50%    1126899.0  200.0
                                                   75%    1126899.0  200.0
                                                   max    1126899.0  200.0
UBS SERIES TRUST                                   count        1.0    1.0
                                                   mean    806591.0  200.0
                                                   std          NaN    NaN
                                                   min     806591.0  200.0
                                                   25%     806591.0  200.0
                                                   50%     806591.0  200.0
                                                   75%     806591.0  200.0
                                                   max     806591.0  200.0

                                                          crawler  find  idx  \
company
ALCAN INC                                          count      1.0   1.0  1.0
                                                   mean       0.0   9.0  0.0
                                                   std        NaN   NaN  NaN
                                                   min        0.0   9.0  0.0
                                                   25%        0.0   9.0  0.0
                                                   50%        0.0   9.0  0.0
                                                   75%        0.0   9.0  0.0
                                                   max        0.0   9.0  0.0
COLLABRX, INC.                                     count      1.0   1.0  1.0
                                                   mean       0.0   9.0  0.0
                                                   std        NaN   NaN  NaN
                                                   min        0.0   9.0  0.0
                                                   25%        0.0   9.0  0.0
                                                   50%        0.0   9.0  0.0
                                                   75%        0.0   9.0  0.0
                                                   max        0.0   9.0  0.0
CULLEN FROST BANKERS INC                           count      1.0   1.0  1.0
                                                   mean       0.0   0.0  1.0
                                                   std        NaN   NaN  NaN
                                                   min        0.0   0.0  1.0
                                                   25%        0.0   0.0  1.0
                                                   50%        0.0   0.0  1.0
                                                   75%        0.0   0.0  1.0
                                                   max        0.0   0.0  1.0
LAND O LAKES FARMLAND FEED LLC                     count      1.0   1.0  1.0
                                                   mean       0.0   0.0  0.0
                                                   std        NaN   NaN  NaN
                                                   min        0.0   0.0  0.0
                                                   25%        0.0   0.0  0.0
                                                   50%        0.0   0.0  0.0
...                                                           ...   ...  ...
ORTHODONTIC CENTERS OF AMERICA INC /DE/            std        NaN   NaN  NaN
                                                   min        0.0   9.0  0.0
                                                   25%        0.0   9.0  0.0
                                                   50%        0.0   9.0  0.0
                                                   75%        0.0   9.0  0.0
                                                   max        0.0   9.0  0.0
ROYCE & ASSOCIATES INC                         ... count      1.0   1.0  1.0
                                                   mean       0.0   0.0  1.0
                                                   std        NaN   NaN  NaN
                                                   min        0.0   0.0  1.0
                                                   25%        0.0   0.0  1.0
                                                   50%        0.0   0.0  1.0
                                                   75%        0.0   0.0  1.0
                                                   max        0.0   0.0  1.0
SCHULER HOLDINGS INC                               count      1.0   1.0  1.0
                                                   mean       0.0   1.0  1.0
                                                   std        NaN   NaN  NaN
                                                   min        0.0   1.0  1.0
                                                   25%        0.0   1.0  1.0
                                                   50%        0.0   1.0  1.0
                                                   75%        0.0   1.0  1.0
                                                   max        0.0   1.0  1.0
UBS SERIES TRUST                                   count      1.0   1.0  1.0
                                                   mean       0.0   0.0  1.0
                                                   std        NaN   NaN  NaN
                                                   min        0.0   0.0  1.0
                                                   25%        0.0   0.0  1.0
                                                   50%        0.0   0.0  1.0
                                                   75%        0.0   0.0  1.0
                                                   max        0.0   0.0  1.0

                                                          noagent  norefer  \
company
ALCAN INC                                          count      1.0      1.0
                                                   mean       0.0      0.0
                                                   std        NaN      NaN
                                                   min        0.0      0.0
                                                   25%        0.0      0.0
                                                   50%        0.0      0.0
                                                   75%        0.0      0.0
                                                   max        0.0      0.0
COLLABRX, INC.                                     count      1.0      1.0
                                                   mean       0.0      0.0
                                                   std        NaN      NaN
                                                   min        0.0      0.0
                                                   25%        0.0      0.0
                                                   50%        0.0      0.0
                                                   75%        0.0      0.0
                                                   max        0.0      0.0
CULLEN FROST BANKERS INC                           count      1.0      1.0
                                                   mean       0.0      1.0
                                                   std        NaN      NaN
                                                   min        0.0      1.0
                                                   25%        0.0      1.0
                                                   50%        0.0      1.0
                                                   75%        0.0      1.0
                                                   max        0.0      1.0
LAND O LAKES FARMLAND FEED LLC                     count      1.0      1.0